mixin dropdown(options)
    .dropdown
        .dropdown__label
            span.dropdown__label_left= options.label_left
            span.dropdown__label_right= options.label_right
        .dropdown__field
            .dropdown__default
                span= options.defaultField
                i.material-icons.dropdown__icon_arrow keyboard_arrow_down
            .dropdown__expanded
                each val, index in options.expanded
                    .dropdown__option
                        span= val
                        .dropdown__counter
                            span.dropdown__counter_remove-btn -
                            span.dropdown__counter_number= options.startCount[index]
                            span.dropdown__counter_add-btn +
                if options.applyBtn
                    .dropdown__option.dropdown__option_last
                        span.dropdown__option_clear очистить
                        span.dropdown__option_apply применить

